interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api.smugmug.com/api/v2/album/abc123!images?count=100&start=1
    response:
      content:
        '{"Response":{"Uri":"/api/v2/album/abc123!images?start=1&count=100&APIKey=fCXo05bxAfCoY31I5vtcmPr8AEY3uQTr","Locator":"AlbumImage","LocatorType":"Objects","UriDescription":"Images
        from album","EndpointType":"AlbumImages"},"Code":404,"Message":"Not Found"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        smug-cdn:
          - cloudfront (via api.smugmug.com)
        x-env:
          - a=live, b=www, c=ec58e149, d=i-031b001f476a58fa4
        x-ratelimit-remaining:
          - "99918"
        x-ratelimit-reset:
          - "1646004932"
        x-s:
          - 100.8.74:19007
        x-smugmug-hiring:
          - "How to love what you do: https://jobs.smugmug.com/"
        x-smugmug-values:
          - 5/5 - Empower Passion
        x-ttfb:
          - "0.028"
        x-ttfb-l:
          - "254"
      status_code: 404
version: 1
