interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api.smugmug.com/api/v2/album/dvVPZh!images?count=100&start=1
    response:
      content:
        '{"Options":{"Methods":["GET"],"ParameterDescription":{"Varchar":"Variable
        length text from MIN_CHARS to MAX_CHARS (MAX_CHARS = INFINITY meaning arbitrary
        length)"},"Parameters":{"GET":[{"Name":"FileNames","Required":false,"ReadOnly":false,"Default":"","Description":"A
        list of filenames (percent-encoded and comma-separated); if used, an image will
        only be included in the result set if its file name is in the list","Type":"Varchar","MIN_CHARS":0,"MAX_CHARS":"INFINITY"}]}},"Response":{"Uri":"/api/v2/album/dvVPZh!images?start=1&count=100","Locator":"AlbumImage","LocatorType":"Objects","AlbumImage":[{"Title":"","Caption":"","Keywords":"","KeywordArray":[],"Watermark":"No","Latitude":"0","Longitude":"0","Altitude":0,"Hidden":false,"ThumbnailUrl":"https://photos.smugmug.com/photos/i-gKfJkMG/0/Th/i-gKfJkMG-Th.jpg","FileName":"467755_10151632779041460_637244986_o.jpg","Processing":false,"UploadKey":"4460393172","Date":"2015-10-24T15:47:14+00:00","DateTimeUploaded":"2015-10-24T15:47:14+00:00","Format":"JPG","OriginalHeight":1361,"OriginalWidth":2048,"LastUpdated":"2015-10-24T15:47:17+00:00","Collectable":true,"IsArchive":false,"IsVideo":false,"ComponentFileTypes":[],"CanEdit":false,"CanBuy":false,"Protected":false,"Watermarked":false,"ImageKey":"gKfJkMG","Serial":0,"CanShare":true,"Comments":true,"ShowKeywords":true,"FormattedValues":{"Caption":{"html":"","text":""},"FileName":{"html":"467755_10151632779041460_637244986_o.jpg","text":"467755_10151632779041460_637244986_o.jpg"}},"PreferredDisplayFileExtension":"JPG","Uri":"/api/v2/album/dvVPZh/image/gKfJkMG-0","UriDescription":"Image
        from album","Uris":{"LargestImage":{"Uri":"/api/v2/image/gKfJkMG-0!largestimage","Locator":"LargestImage","LocatorType":"Object","UriDescription":"Largest
        size available for image","EndpointType":"LargestImage"},"ImageSizes":{"Uri":"/api/v2/image/gKfJkMG-0!sizes","Locator":"ImageSizes","LocatorType":"Object","UriDescription":"Sizes
        available for image","EndpointType":"ImageSizes"},"ImageSizeDetails":{"Uri":"/api/v2/image/gKfJkMG-0!sizedetails","Locator":"ImageSizeDetails","LocatorType":"Object","UriDescription":"Detailed
        size information for image","EndpointType":"ImageSizeDetails"},"PointOfInterest":{"Uri":"/api/v2/image/gKfJkMG-0!pointofinterest","Locator":"PointOfInterest","LocatorType":"Object","UriDescription":"Point
        of interest for image","EndpointType":"PointOfInterest"},"PointOfInterestCrops":{"Uri":"/api/v2/image/gKfJkMG-0!poicrops","Locator":"PointOfInterestCrops","LocatorType":"List","UriDescription":"PointOfInterest
        Crops for image","EndpointType":"PointOfInterestCrops"},"Regions":{"Uri":"/api/v2/image/gKfJkMG-0!regions","Locator":"Region","LocatorType":"Objects","UriDescription":"Regions
        for image","EndpointType":"Regions"},"ImageComments":{"Uri":"/api/v2/image/gKfJkMG-0!comments","Locator":"Comment","LocatorType":"Objects","UriDescription":"Comments
        on image","EndpointType":"ImageComments"},"ImageMetadata":{"Uri":"/api/v2/image/gKfJkMG-0!metadata","Locator":"ImageMetadata","LocatorType":"Object","UriDescription":"Metadata
        for image","EndpointType":"ImageMetadata"},"ImagePrices":{"Uri":"/api/v2/image/gKfJkMG-0!prices","Locator":"CatalogSkuPrice","LocatorType":"Objects","UriDescription":"Purchasable
        Skus","EndpointType":"ImagePrices"},"ImagePricelistExclusions":{"Uri":"/api/v2/image/gKfJkMG-0!pricelistexclusions","Locator":"ImagePricelistExclusions","LocatorType":"Object","UriDescription":"Pricelist
        information for an image","EndpointType":"ImagePricelistExclusions"},"Album":{"Uri":"/api/v2/album/dvVPZh","Locator":"Album","LocatorType":"Object","UriDescription":"Album
        by key","EndpointType":"Album"},"Image":{"Uri":"/api/v2/image/gKfJkMG-0","Locator":"Image","LocatorType":"Object","UriDescription":"Image
        by key","EndpointType":"Image"},"AlbumImagePricelistExclusions":{"Uri":"/api/v2/album/dvVPZh/image/gKfJkMG-0!pricelistexclusions","Locator":"AlbumImagePricelistExclusions","LocatorType":"Object","UriDescription":"Pricelist
        information for an album image","EndpointType":"AlbumImagePricelistExclusions"},"AlbumImageMetadata":{"Uri":"/api/v2/album/dvVPZh/image/gKfJkMG-0!metadata","Locator":"AlbumImageMetadata","LocatorType":"Object","UriDescription":"Metadata
        for AlbumImage","EndpointType":"AlbumImageMetadata"},"AlbumImageShareUris":{"Uri":"/api/v2/album/dvVPZh/image/gKfJkMG-0!shareuris","Locator":"AlbumImageShareUris","LocatorType":"Object","UriDescription":"URIs
        that are useful for sharing","EndpointType":"AlbumImageShareUris"}},"Movable":true,"Origin":"Album","WebUri":"https://photos.newtheatre.org.uk/2012-13/East-2013/i-gKfJkMG"},{"Title":"","Caption":"","Keywords":"","KeywordArray":[],"Watermark":"No","Latitude":"0","Longitude":"0","Altitude":0,"Hidden":false,"ThumbnailUrl":"https://photos.smugmug.com/photos/i-7Dd8rKc/0/Th/i-7Dd8rKc-Th.jpg","FileName":"467753_10151632754791460_1240391320_o.jpg","Processing":false,"UploadKey":"4460393198","Date":"2015-10-24T15:47:14+00:00","DateTimeUploaded":"2015-10-24T15:47:14+00:00","Format":"JPG","OriginalHeight":1569,"O[...]
[...]
