interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: https://api.smugmug.com/api/v2/album/dvVPZh
    response:
      content:
        '{"Response":{"Uri":"/api/v2/album/dvVPZh","Locator":"Album","LocatorType":"Object","Album":{"NiceName":"East-2013","UrlName":"East-2013","Title":"East
        2013","Name":"East 2013","AllowDownloads":false,"Description":"","EXIF":true,"External":true,"Filenames":false,"Geography":true,"Keywords":"","PasswordHint":"","Protected":false,"SortDirection":"Ascending","SortMethod":"Position","SecurityType":"None","AlbumKey":"dvVPZh","CanBuy":false,"CanFavorite":false,"LastUpdated":"2015-11-06T16:54:32+00:00","ImagesLastUpdated":"2015-11-06T16:55:22+00:00","NodeID":"rwbcSM","ImageCount":379,"UrlPath":"/2012-13/East-2013","CanShare":true,"HasDownloadPassword":false,"Packages":false,"Uri":"/api/v2/album/dvVPZh","WebUri":"https://photos.newtheatre.org.uk/2012-13/East-2013","UriDescription":"Album
        by key","Uris":{"AlbumShareUris":{"Uri":"/api/v2/album/dvVPZh!shareuris","Locator":"AlbumShareUris","LocatorType":"Object","UriDescription":"URIs
        that are useful for sharing","EndpointType":"AlbumShareUris"},"Node":{"Uri":"/api/v2/node/rwbcSM","Locator":"Node","LocatorType":"Object","UriDescription":"Node
        with the given id.","EndpointType":"Node"},"NodeCoverImage":{"Uri":"/api/v2/node/rwbcSM!cover","Locator":"Image","LocatorType":"Object","UriDescription":"Cover
        image for a folder, album, or page","EndpointType":"NodeCoverImage"},"User":{"Uri":"/api/v2/user/newtheatre","Locator":"User","LocatorType":"Object","UriDescription":"User
        By Nickname","EndpointType":"User"},"Folder":{"Uri":"/api/v2/folder/user/newtheatre/2012-13","Locator":"Folder","LocatorType":"Object","UriDescription":"A
        folder or legacy (sub)category by UrlPath","EndpointType":"Folder"},"ParentFolders":{"Uri":"/api/v2/folder/user/newtheatre/2012-13!parents","Locator":"Folder","LocatorType":"Objects","UriDescription":"The
        sequence of parent folders, from the given folder to the root","EndpointType":"ParentFolders"},"HighlightImage":{"Uri":"/api/v2/highlight/node/rwbcSM","Locator":"Image","LocatorType":"Object","UriDescription":"Highlight
        image for a folder, album, or page","EndpointType":"HighlightImage"},"AlbumHighlightImage":{"Uri":"/api/v2/album/dvVPZh!highlightimage","Locator":"AlbumImage","LocatorType":"Object","UriDescription":"Highlight
        image for album","EndpointType":"AlbumHighlightImage"},"AlbumImages":{"Uri":"/api/v2/album/dvVPZh!images","Locator":"AlbumImage","LocatorType":"Objects","UriDescription":"Images
        from album","EndpointType":"AlbumImages"},"AlbumPopularMedia":{"Uri":"/api/v2/album/dvVPZh!popularmedia","Locator":"AlbumImage","LocatorType":"Objects","UriDescription":"Popular
        images from album","EndpointType":"AlbumPopularMedia"},"AlbumGeoMedia":{"Uri":"/api/v2/album/dvVPZh!geomedia","Locator":"AlbumImage","LocatorType":"Objects","UriDescription":"Geotagged
        images from album","EndpointType":"AlbumGeoMedia"},"AlbumComments":{"Uri":"/api/v2/album/dvVPZh!comments","Locator":"Comment","LocatorType":"Objects","UriDescription":"Comments
        on album","EndpointType":"AlbumComments"},"AlbumPrices":{"Uri":"/api/v2/album/dvVPZh!prices","Locator":"CatalogSkuPrice","LocatorType":"Objects","UriDescription":"Purchasable
        Skus","EndpointType":"AlbumPrices"},"AlbumPricelistExclusions":{"Uri":"/api/v2/album/dvVPZh!pricelistexclusions","Locator":"AlbumPricelistExclusions","LocatorType":"Object","UriDescription":"Pricelist
        information for an Album","EndpointType":"AlbumPricelistExclusions"}},"ResponseLevel":"Public"},"UriDescription":"Album
        by key","EndpointType":"Album","DocUri":"https://api.smugmug.com/api/v2/doc/reference/album.html"},"Code":200,"Message":"Ok"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        smug-cdn:
          - cloudfront (via api.smugmug.com)
        x-env:
          - a=live, b=www, c=e8889be1, d=i-0086d3f5be57307f7
        x-ratelimit-remaining:
          - "99833"
        x-ratelimit-reset:
          - "1646004497"
        x-s:
          - 100.15.136:9565
        x-smugmug-hiring:
          - "How to love what you do: https://jobs.smugmug.com/"
        x-smugmug-values:
          - 3/5 - Deliver Awesome
        x-ttfb:
          - "0.0473"
        x-ttfb-l:
          - "3558"
      status_code: 200
version: 1
